body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #BBCB64;
}

@font-face {
    font-family: "GoogleSans";
    src: url(fonts/GoogleSans-VariableFont_GRAD\,opsz\,wght.ttf);
}

@font-face {
    font-family: "InterBold";
    src: url(fonts/Inter-Bold.ttf);
}

@font-face {
    font-family: "InterExtraBold";
    src: url(fonts/Inter-ExtraBold.ttf);
}

.title {
    padding-top: 1%;
    color: #FFE52A;
    font-size: 4rem;
    font-family: "InterExtraBold";
    text-align: center;
    /* border: 1px dashed red;*/
}

.title-sidekick {
    text-align: center;
    color: #F79A19;
    font-size: 3.5rem;
    font-family: "InterExtraBold";
    margin-top: -2.5rem;
    margin-right: -20rem;
    /* border: 1px dashed red; */
}

.game-play {
    padding-top: 0.5%;
    /* border: 1px dashed red; */
    height: 35rem;
    display: flex;
}

.game-button {
    width: 50%;
    border: 4px double #cf2626;
}

.results {
    width: 50%;
    border: 4px double #cf2626;
}

.footer {
    background-color: #505c0e;
    font-family: "GoogleSans";
    font-weight: 500;
    text-align: center;
    color: yellow;
}